.card-examples
    h3 Cards
    .dr-card
        p.dr-card__description Cards are a convenient means of displaying content composed of different types of objects.
        .dr-card__footer
            button.dr-button.dr-button_narrow MORE INFO…

    .dr-card
        span.dr-card__title Card headline title
        p.dr-card__description Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
        hr.dr-card__divider
        .dr-card__footer
            button.dr-button.dr-button_narrow MORE INFO…

            button.dr-card__button_pulled.dr-button.dr-button_narrow DECLINE
            button.dr-button.dr-button_narrow.dr-button_colored ACCEPT


    .dr-card
        .dr-card__header
            img.dr-card__image(src="https://images.unsplash.com/photo-1542213458-267646c929e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=67b4f566c0080067f167e0871edd567c&auto=format&fit=crop&w=1000&q=80", alt="Hall")
            span.dr-card__title.dr-card__title_light Card with image header
        p.dr-card__description Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
        hr.dr-card__divider
        .dr-card__footer
            button.dr-button.dr-button_narrow MORE INFO…

            button.dr-card__button_pulled.dr-button.dr-button_narrow DECLINE
            button.dr-button.dr-button_narrow.dr-button_colored ACCEPT
