doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Material UI library
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500')
        link(rel='stylesheet', href='css/all.css')
        link(rel='stylesheet', href='css/examples.css')
    body
        include examples/buttons
        include examples/box-shadows
        include examples/cards
