doctype html
html(lang='en')
    head
      meta(charset='UTF-8')
      title Title
      link(rel='stylesheet', href='css/all.css')
    body
        include examples/buttons/buttons
        include examples/cards/cards
