:root {
    --green-color: #a2ca28;
    --text-color: #fff;
    --main-font: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;

}

.features {
    background-color: var(--green-color);
    color: var(--text-color);
    font-family: var(--main-font);
    padding: 110px 20px 120px;
}

.row {
    margin: 0 -15px;
    display: flex;
}

.feature {
    flex-basis: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.feature-icon-container {
    height: 45px;
    display: flex;
    align-items: center;
}

.feature-title {
    margin: 30px 0;
}

.feature-description {
    margin: 0 0 30px;
}


.feature-learn-more {
    display: block;
    margin-top: auto;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s all;

}

.feature-learn-more:hover {
    color: #5B4E61;
}
